@import "../style.css";

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--color-darkblue);
  cursor: pointer;
}

.receipt-name {
  padding-right: 35px;
}

.btn_admin {
  padding: 3px 12px;
  width: fit-content;
  min-width: 60px;
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-light);
  background-color: #3b3b4f;
}

.btn_admin:hover {
  cursor: pointer;
}

.btn_admin:disabled {
  color: #717189;
  border-style: none;
  cursor: auto;
}

.btn_admin:hover:disabled {
  background-color: #3b3b4f;
}

.btn_submit {
  margin: auto;
}
